 
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
 


.card-header{
    padding:10px;
}
 
.icon-bar{
    display: block;
    width: 22px;
    height: 2px;
    background-color:black;
    border-radius: 1px;
    color: balck;
    margin:5px;
}
.navbar {
    width:100%;     
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    
}
.dash{
    color: black;
    background-color: white;
}

.nav-item{
    margin-left:20px;
}
.nav-item.active{
    color: white;
}

/* .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
} */
 

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
 
 
 
 
 
#content {
    /* width: calc(100% - 250px); */
    width: 100%;
   
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    right: 0;     
    margin-top:50px;
     
}
/* .dropdown-item{
    color: white;
    background-color: black;
} */
i{
    color: white;
}
#content2 {
    /* width: calc(100% - 250px); */
    width: 100%;
    
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    right: 0;     
    margin-top:380px;
     
}
#content3{
    padding:40px;
}
 


 





#para{
   margin-left:260px;
}














.sidepanel {
    height: 550PX; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 50px;
    left: 0;
    background-color: #152f4f; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 5px ;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    background-color: white;
    color: black;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 15px;
    cursor: pointer;
    background-color:#152f4f;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }