.carousel {
    width: 100%;
}

.carousel-item {
    height: 450px;
    margin-top:50px;

}

.item img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
 
}